/* ==========================================================================
   color mixing
   ========================================================================== */
/* Green */
$green : #4ec46c;
/* Black */
$black : #181818;
$red : #FF4F4F;