/* ==========================================================================
   Typografi
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

* {
    color: $black;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px;
    // or
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    // or
    text-shadow: #fff 0px 1px 1px;
}